<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="cow-lg-2"></div>

        <div class="cow-lg-8 my-4">
            <h1 class="text-center">Contacts</h1>
            <p class="text-center lead">Your contacts are below.</p>

            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Any mistake here </div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table my-4">
                    <tr>
                        <td>Toshio</td>
                        <td>Yasunaka</td>
                        <td>44 99959-5229</td>
                        <td>toshioyasunaka@hotmail.com</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="cow-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>